#lineitem {
    display: inline
   
}

button {
    padding: 2px;
    display: inline;
    margin: 2px;
    font-size: 10px
}

h6{
    display: inline-flex;
    
    color: rgb(113, 25, 113);
    font-size: 11px;
}

.date{
    width: 16px;
    height: 14px;
    background-color: rgb(166, 158, 158)
}

.each-item{
    border-color: black;
    border-style: dotted;
    background-color: rgba(44, 112, 155, 0.38)
}

.buttons{
    border-radius: 20px;
    background-color: rgb(195, 195, 234);
    font-size: 7.5px;
    padding-right: 4px;
    padding-bottom: 4px;
    box-shadow: inset -4px -4px 3px rgba(9, 21, 123, 0.724)
}

.checkbox{
    border-radius: 10px
}