#lineitem {
    display: inline
   
}

button {
    padding: 4px;
    display: inline;
    margin: 5px
}

h6{
    display: inline-flex;
    padding: 5px;
    color: purple
}

.date{
    width: 10px;
    height: 12px
}